* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
}

body > div {
  /* outline: solid red; */
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #233d91;
  color: white;
  /* height: 50%; */
}

.nav-bar > a {
  text-decoration: none;
  color: white;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 200px;
}

.logo > img {
  border: solid white;
  border-radius: 100%;
  width: 25%;
}

.nav-bar-choices {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

.nav-bar-choices > ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.nav-bar-choices > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.hamburger {
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  /* margin-right: 1rem; */
  width: 25%;
}

.hamburger-choices {
  display: none;
  list-style: none;
}

.hamburger-choices > li > a {
  text-decoration: none;
  color: #233d91;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* BOTH LEFT AND RIGHT CONTAINERS */
.whole-container {
  /* outline: solid red; */
  display: flex;
  gap: 1rem;
}

@media (max-width: 500px) {
  body > div {
    height: auto;
  }

  .nav-bar-choices {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger-choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hide {
    display: none;
  }

  .whole-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navigation {
    gap: 0.25rem;
  }

  .navigation-buttons>button>i {
    font-size: 1rem;
  }

  .song-info {
    padding: 0.25rem;
    font-size: 1rem;
  }

  .project-contents > section {
    /* outline: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25rem
  }

  .project-contents {
    height: 100%;
  }

  .project-contents > section > img {
    /* outline: solid red; */
    width: 100%; 
  }

  .project-contents > section > div {
    width: 100%;
  }

  section > div >.project-buttons {
    /* outline: solid red; */
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    padding-top: 0.25rem;
    text-align: center;
  }

  /* .content-body {
    outline: solid red;
    height: 
  } */
}

/* LEFT CONTAINER */
.left-container {
  /* outline: solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.5rem;
}

.left-container > section > h4 {
  background-color: #65a7d1;
  color: #fdfcfc;
}

.profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.personal-info {
  display: flex;
  align-content: center;
  width: 100%;
}

.personal-info > div > img {
 width: 90%;
}

.personal-info > div {
  /* outline: solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.personal-info > .personal-info-img {
  width: 70%;
}

.personal-info > div > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info > p > a {
  color: #4e8cc9;
  font-weight: bolder;
  text-decoration: none;
}

.navigation {
  /* outline: solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
  padding: 0.25rem;
  width: 100%;
  border: solid black 1px;
  background-image: linear-gradient(#fdfdfd, #cdcdcd);
  
}
.navigation > div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.music-btn {
    background: transparent;
      border: solid #8f8f8f 1.5px;
      border-radius: 5px;
      color: #575556;
      cursor: pointer;
}

.change-bg {
  /* outline: solid red;
  color: white; */
  color: white;
  background-color: #afa5a5;
}

/* .navigation-buttons > button {
  outline: solid red;
  background: transparent;
  border: solid #8f8f8f 1.5px;
  border-radius: 5px;
  color: #575556;
  cursor: pointer;
} */



.navigation-buttons > button > i {
  font-size: 2rem;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #25211e;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

.contact-info {
  border: solid #d8dee0 2px;
  width: 100%;
}

.contact-info > .contact-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
}

.contact-buttons > div {
  /* outline: solid red; */
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 1rem;
  width: 50%;
}

/* .contact-info > div > div {
  outline: solid red;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  background-color: black;
  width: 100%;
} */

.contact-info > div > div > a {
  /* outline: solid red; */
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  background-color: transparent;
  border: none;
  color: #65a7d1;
  text-decoration: none;
  gap: 0.5rem;
}

.contact-info>div>div>a > img {
  /* outline: solid red; */
  width: 15%;
}

.personal-urls {
  padding: 1rem;
  border: solid #65a7d1;
}

.personal-urls > p {
  font-weight: bolder;
}

.personal-interest {
  width: 100%;
  border: solid #d8dee0 2px;
}

.personal-interest > div > div {
  display: flex;
  border: solid #fdfcfc;
}

.personal-interest > div > div > h5 {
  width: 30%;
  background-color: #afd3ed;
  border-right: solid #fdfcfc;
  color: #65a7d1;
  padding-bottom: 1.5rem;
}

.personal-interest > div > div > p {
  width: 70%;
  background-color: #d5e7f3;
}

/* RIGHT CONTAINER */
.right-container {
  /* outline: solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5rem;
}

.right-container > section > h4 {
  background-color: #f9cfa7;
  color: #f18835;
}

.extended-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border: solid #d8dee0;
  gap: 1rem;
}

.extended-network > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.extended-network > div > img {
  width: 20%;
}

.project-entrys {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-entrys > img {
  width: 90%;
}

.project-entrys > .project-header {
  font-weight: bolder;
}

.project-entrys > p > a {
  font-weight: bolder;
  text-decoration: none;
  color: #4e8cc9;
}

.about-me {
  width: 100%;
}

.about-me > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.span {
  font-size: 1rem;
  color: #f18835;
}

.friends-info {
  width: 100%;
}

.friends-info > div {
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.friends-info > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tom {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.tom > a {
  text-decoration: none;
}

.tom > img {
  width: 40%;
}

.tom > .online-now {
  /* width: solid red; */
  width: 22.5%;
}

/* PROJECTS */
.projects {
  width: 100%;
}

.projects>h4 {
  background-color: #65a7d1;
  color: #fdfcfc;
  font-size: 1.5rem;
}

.project-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border-left: solid #65a7d1;
  border-right: solid #65a7d1;
}

.project-contents > section {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
  border-bottom: solid #65a7d1;
}

.project-contents > section > img {
  width: 50%;
}

.project-contents > section > div {
  /* outline: solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.project-contents > section > div > h1 {
  color: #4e8cc9;
}

section > div > .project-buttons {
  /* outline: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section > div > .project-buttons > a {
  /* outline: solid red; */
  /* width: 30%; */
  text-align: center;
  border: solid black 1px;
  padding-left: 2rem;
  padding-right: 2rem;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  /* border: solid #afd3ed 1px; */
  background-color: lightgray;
  /* color: #4e8cc9; */
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

/* CONTACT */
/* .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 15rem;
}

.contact > div {
  width: 100%;
}

.contact > div > h4 {
  background-color: #65a7d1;
  color: #fdfcfc;
  font-size: 1.5rem;
}

.contact > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  border: solid #afd3ed 2.5px;
}

.contact > form > div {
  display: flex;
  width: 100%;
}

.contact > form > p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #4e8cc9;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: solid #afd3ed 2.5px;
}

.input > label {
  background-color: #d5e7f3;
  padding-bottom: 2rem;
  width: 30%;
  border-bottom: solid #afd3ed 2.5px;
  border-right: solid #afd3ed 2.5px;
}

.input > input {
  border-left: none;
  border-top: none;
  border-bottom: solid #afd3ed 2.5px;
  border-right: none;
  width: 70%;
}

.input > textarea {
  width: 70%;
  border-left: none;
  border-top: none;
  border-bottom: solid #afd3ed 2.5px;
  border-right: none;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.contact-buttons > button {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: lightgray;

  font-size: 1rem;
  border: solid black 1px;
} */


/* MODAL */

.modal-content {
  padding-top: 0.25rem;
  height: 100%;
  max-height: 150px;
  width: 100%;
  max-width: 400px;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-header {
  padding: 0.25rem;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #233d91;
  color: white;
}

.content-header > button {
  cursor: pointer;
  width: 5%;
  border: none;
  background-color: lightgray;
}

.content-body {
  /* outline: solid red; */
  height: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.content-body > button {
  cursor: pointer;
  width: 15%;
  border: none;
  background-color: lightgray;
  -moz-box-shadow: 3px 3px 5px 6px rgb(99, 98, 98);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(99, 98, 98);
  box-shadow: 3px 3px 5px 6px rgb(99, 98, 98);
}

 .hide {
   display: none;
 }
